* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  
  input,
  textarea,
  button,
  select, img, span,
  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
     outline: 0;
  }
  
  /*Fonts from external source*/
  @font-face {
    src: url(C:\Users\Home\AppData\Local\Temp\atom-118019-14536-1ea9572.rtm9ozuxr\league-spartan.zip\LeagueSpartan-Bold.otf);
    font-family: League Spartan;
  }
  /*Fonts from external source*/
  
  
  
  /*Navigation Bar*/
  @charset "UTF-8";
/* 
$content-width will be the max width of the content within the navigation bar. 
$breakpoint determines at which width the media query breakpoint will take effect.
*/

body {
  background-color: #63D6E0;
}
nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #ffffff;
  color: #463f3f;
  text-decoration: none;
  /*
  The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
  */
}
nav ul li a:hover {
  background: #f2f2f2;
  color: #fb5958;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.navigation {
  height: 70px;
  background: #ffffff;
}

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #463f3f;
  text-decoration: none;
}

  /*Navigation Bar*/
  
  
  
  /*Hero Image*/
  #header1 {
    width: 100vw;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('https://images.unsplash.com/photo-1445294812422-0bb9cb94c286?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header-text {
    width: 500px;
    text-align: center;
  }
  
  header h4 {
    margin-bottom: 10px;
    font-family: League Spartan, sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: white;
  }
  
  #name {
    font-size: 40px;
    letter-spacing: 0.5px;
  }
  
  header p {
    margin-bottom: 20px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: white;
    font-size: 18px;
  }
  
  header button {
    border: 2px solid white;
    color: white;
    font-family: 'Roboto', Segoe UI, calibri, Helvetica, serif;
    padding: 10px;
    font-size: 18px;
    width: 160px;
    border-radius: 500px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
  }
  
  header button:hover, button:active {
    background-color: white;
    color: black;
  }
  
  @media screen and (max-width: 676px) {
    .header-text {
      width: 95%;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 601px) {
    #photography {
      font-size: 45px;
    }
    header h1 {
      font-size: 30px;
    }
    header p {
      font-size: 15px;
      width: 85%;
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }
    header button {
      font-size: 16px;
      width: 140px;
    }
  }
  
  @media screen and (max-width: 460px) {
    #photography {
      font-size: 35px;
    }
    header h1 {
      font-size: 28px;
    }
  }
  /*Hero Image*/

  /* Start About Me */
.about-me {
    background-color: #ffffff;
    overflow: hidden;
    /*width: 100%;*/
  }
    /*border: 0.5em solid;*/
  .about-me >div{
    /*box-sizing: border-box;*/
  }
  .about-me .image {
    float: left;
    width: 30% ;
    /*height: 600px;*/
  
  }
  
  .about-me .image img {
    width: 100%;
    /*height: 100%;*/
  }
  
  .about-me .info {
    float: left;
    width: 65%;
    margin: 1.5% 2.5% 0 2.5%;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
  
  .about-me .info h2 {
    margin: 20px 0 20px 40px;
    color: #000000;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
  .about-me .info >p {
    margin: 0 0 10px 40px;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
  .about-me .info > p:last-of-type {
    margin-top: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
  
  }
  .about-me .info  p {
    line-height: 1.5;
    color: #888;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
  .about-me .info .hobbies {
    overflow: hidden;
    margin: 20px 0 0 40px;
  }
  .about-me .info .hobbies .content {
    box-sizing: border-box;
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
  }
  .about-me .info .hobbies .content h3{
    color: #000000;
  }
  .about-me .info .hobbies .content .icon {
    float: left;
    width: 12%;
  }
  .about-me .info .hobbies .content .icon i{
    max-width: 100%;
    padding-top: 10px;
  }
  .about-me .info .hobbies .content .text {
    float: left;
    width: 84%;
    margin-left: 2%;
  }
  /* End About Me */

  .card-text {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #000000;
  }

  .aboutMe {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #000000;
  }

  .container {
    width: 80%;
    /*Orginal Width 1170 */
    margin: auto;
    /*background-color: #fff;*/
  }
  
  .containerB {
    width: 100%;
    /*Orginal Width 1170 */
    margin: auto;
    /*background-color: #fff;*/
    box-sizing: border-box;
  }
  
   .clearfix {
    clear: both;
  } 

  body {
    background-color: #f7f7f7
  }

  /* footer {
    padding: 30px 0;
    clear: both;
    font-size: 12px;
    color: #ffffff;
    color: #cccccc;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
  } */

  footer{
    /* position: fixed; */
    bottom: 0;
    margin: auto 0;
    text-align: center;
    width: 100%;
    margin-right: 20px;
}

  /* start main rulez*/
/**{
  box-sizing: border-box;
}*/

body {
    /*width: auto;*/
    /*background-color: #888;*/
    /*height:4000px;*/
    /*margin: auto;*/
  }
  
  .container {
    width: 80%;
    /*Orginal Width 1170 */
    margin: auto;
    /*background-color: #fff;*/
  }
  
  .containerB {
    width: 100%;
    /*Orginal Width 1170 */
    margin: auto;
    /*background-color: #fff;*/
    box-sizing: border-box;
  }
  
  .clearfix {
    clear: both;
  }
  /* End main rulez*/
  
  
  
  /* Strat Features */
  .features {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 80px;
    /*box-sizing: border-box;*/
  }
  
  .features .feat {
    float: left;
    width: 33.333333%;
    height: 150px;
    box-sizing: border-box;
  }
  
  .features .feat h2 {
    /*text-transform: uppercase;*/
    color: #555;
  }
  
  .features .feat p {
    line-height: 1.5;
    color: #888;
    /*text-align: justify;*/
    /*padding: 0 20px 0 0;*/
  }
  /* End Features */
  
  /* Start About Me */
  .about-me {
    background-color: #f2f2f2;
    overflow: hidden;
    /*width: 100%;*/
  }
    /*border: 0.5em solid;*/
  .about-me >div{
    /*box-sizing: border-box;*/
  }
  .about-me .image {
    float: left;
    width: 30% ;
    /*height: 600px;*/
  
  }
  
  .about-me .image img {
    width: 100%;
    /*height: 100%;*/
  }
  
  .about-me .info {
    float: left;
    width: 65%;
    margin: 1.5% 2.5% 0 2.5%;
  }
  
  .about-me .info h2 {
    margin: 20px 0 20px 40px;
    color: #555;
  }
  .about-me .info >p {
    margin: 0 0 10px 40px;
  }
  .about-me .info > p:last-of-type {
    margin-top: 10px;
  
  }
  .about-me .info  p {
    line-height: 1.5;
    color: #888;
  }
  .about-me .info .hobbies {
    overflow: hidden;
    margin: 20px 0 0 40px;
  }
  .about-me .info .hobbies .content {
    box-sizing: border-box;
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
  }
  .about-me .info .hobbies .content h3{
    color: #555;
  }
  .about-me .info .hobbies .content .icon {
    float: left;
    width: 12%;
  }
  .about-me .info .hobbies .content .icon i{
    max-width: 100%;
    padding-top: 10px;
  }
  .about-me .info .hobbies .content .text {
    float: left;
    width: 84%;
    margin-left: 2%;
  }
  /* End About Me */
  
  
  /* Start My Skills */
  .my-skills {
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
  }
  
  .my-skills .skills, .my-skills .progress {
    width: 50%;
    float: left;
  }
  .my-skills .skills h2{
    margin: 25px 0 20px 40px;
    color: #555;
  }
  .my-skills .skills p{
    margin: 0 0 10px 40px;
    line-height: 1.5;
    color: #666;
    }
    .my-skills .skills p:last-of-type{
      margin-top: 15px;
    }
    .my-skills .skills button{
      padding: 10px 30px;
      margin: 25px 0 20px 40px;
    }
    .my-skills .progress .technique {
      margin-left: 50px;
    }
    .my-skills .progress .technique h3{
      color: #555;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    .my-skills .progress .technique div{
      background-color: #f2f2f2;
      height: 20px;
      margin-top: 0;
      margin-bottom: 25px;
    }
    .my-skills .progress .technique div span{
      background-color: #2dcc70;
      height: 20px;
      display: block;
      line-height: 20px;
      text-align: right;
      color: #fff;
      font-weight: bold;
    }
  /* End My Skills */

  
  
  /* Start My Education */
  .my-education {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
  }
  .my-education .main{
    width: 50%;
    margin-right: 5%;
   
  }
  .my-education .main h2{
    margin: 25px 0 20px 40px;
  }
  /* .my-education .main p{
    margin: 0 0 10px 40px;
  } */
  .my-education .main p:last-of-type{
    margin-top: 25px;
  }
  .my-education .exp {
    width: 45%;
    float: left;
  }
  .my-education .exp h3{
    margin: 73px 0 10px 0;
  }
  .my-education .exp span{
    display: block;
    margin-bottom: 10px;
  }
  .my-education .exp span:last-of-type{
    background-color: gray;
    display: inline-block;
    color: #fff;
    padding: 3px 6px;
    font-size: 0.9em;
  }
  .my-education .exp hr{
    margin-left: 3em;
    width: 97%;
  }

  /* #ucb {
    margin-left: 7em;
  }

  #usc {
      margin-right: 3em;
      float: left;
  } */
  /* End My Education */
  
  
  /* Start My Framework */
  
  .paragrph{
    line-height: 1.5;
    color: #666;
  }
  .he{
    color: #555;
    /*text-transform: uppercase;*/
  }
  .sp{
    line-height: 1.5;
    color: #888;
  }
  .hr{
    margin: 30px 0 30px 40px ;
    background-color: #999;
    height: 1px;
    border: 0;
    width: 95%;
  }
  /* End My Framework */
  /* Start Media Query */
  
  @media (max-width: 800px) {
    .features .feat {
      width: 95%;
    }
    .about-me .image {
      width: 100%;
    }
    .about-me .image img {
      width: 50%;
      height: 70%;
      margin: 0 25%;
    }
    .about-me .info, .about-me .info .hobbies .content {
      width: 95%;
    }
    .my-skills, .my-skills .skills, .my-skills .progress {
      width: 95%;
    }
    .resume {
      width: 100%;
    }
    .my-education .main, .my-education .exp {
      width: 95%;
      padding: 0;
      margin: 0;
    }
    .my-education .main .paragrph, .my-education .exp .paragrph {
      width: 100%;
      margin: 20px 0;
    }
    .my-education .main h2, .my-education .exp h3 {
      width: 100%;
      margin: 20px 0;
      padding: 10px 0;
    }
    .my-education hr {
      margin: 20px 0;
      width: 100%;
    }
    .my-education .exp hr {
      margin: 0 auto;
      width: 50%;
    }
   
  /* End Media Query */

/* //portfolio CSS */
  
/* Contact Form */
#success-message {
    opacity: 0;
  }
  
  .col-xs-12.col-sm-12.col-md-12.col-lg-12 {
    padding: 0 20% 0 20%;
  }
  
  .margin-top-25 {
    margin-top: 25px;
  }
  
  .form-title {
    padding: 25px;
    font-size: 30px;
    font-weight: 300;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  
  .form-group .form-control {
    -webkit-box-shadow: none;
    border-bottom: 1px;
    border-style: none none solid none;
    border-radius:0; 
    border-color: #000;
  }
  
  .form-group .form-control:focus {
      box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #000;
    
  }
  
  textarea {
    resize: none;
  }
  
  .btn-mod.btn-large {
      height: auto;
      padding: 13px 52px;
      font-size: 15px;
  }
  
  .btn-mod.btn-border {
      color: #000000;
      border: 1px solid #000000;
      background: transparent;
  }
  
  .btn-mod, a.btn-mod {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px 13px;
      color: #fff;
      background: rgba(34,34,34, .9);
      border: 1px solid transparent;
      font-size: 11px;
      font-weight: 400;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      -webkit-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -moz-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -o-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      -ms-transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
      transition: all 0.2s cubic-bezier(0.000, 0.000, 0.580, 1.000);
  }
  
  .btn-mod.btn-border:hover, .btn-mod.btn-border:active, .btn-mod.btn-border:focus, .btn-mod.btn-border:active:focus {
      color: #fff;
      border-color: #000;
      background: #000;
      outline: none;
  }
  
  @media only screen and (max-width: 500px) {
      .btn-mod.btn-large {
         padding: 6px 16px;
         font-size: 11px;
      }
    
      .form-title {
          font-size: 20px;
    }
  }
  
/* Scroll effect */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
 margin: 0;
 padding: 0;
}
html, body {
 height: 100%;
}
section {
 position: relative;
 width: 100%;
 height: 100%;
}
section::after {
 position: absolute;
 bottom: 0;
 left: 0;
 content: '';
 width: 100%;
 height: 80%;
 background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
 background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(85, 46, 46, 0.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
 position: absolute;
 top: 50%;
 left: 50%;
 z-index: 2;
 -webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 color: #fff;
 font : normal 300 32px/1 'Josefin Sans', sans-serif;
 text-align: center;
 white-space: nowrap;
}

#section01 { background: url(https://images.unsplash.com/photo-1445294812422-0bb9cb94c286?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80) center center / cover no-repeat;}
#section02 { background: url(https://images.unsplash.com/photo-1525874684015-58379d421a52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center center / cover no-repeat;}
#section04 { background: url(https://images.unsplash.com/photo-1560518700-7a5559afb10c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80) center center / cover no-repeat;}


#thanks {
 background-color: #fff;
}
#thanks::after {
 content: none;
}
#thanks div {
 position: absolute;
 top: 50%;
 left: 50%;
 z-index: 2;
 -webkit-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 text-align: center;
}
#thanks h2 {
 margin-bottom: 60px;
 color: #333;
 font : normal 300 64px/1 'Josefin Sans', sans-serif;
 text-align: center;
 white-space: nowrap;
}
#thanks p {
 color: #333;
 font : normal 400 20px/1 'Josefin Sans', sans-serif;
}
#thanks p a {
 color: #333;
 text-decoration: none;
 transition: color .3s;
}
#thanks p a:hover {
 color: #888;
}
.demo a {
 position: absolute;
 bottom: 20px;
 left: 50%;
 z-index: 2;
 display: inline-block;
 -webkit-transform: translate(0, -50%);
 transform: translate(0, -50%);
 color: #fff;
 font : normal 400 20px/1 'Josefin Sans', sans-serif;
 letter-spacing: .1em;
 text-decoration: none;
 transition: opacity .3s; 
}
.demo a:hover {
 opacity: .5;
} 



#section01 a {
 padding-top: 60px;
}
#section01 a span {
 position: absolute;
 top: 0;
 left: 50%;
 width: 24px;
 height: 24px;
 margin-left: -12px;
 border-left: 1px solid #fff;
 border-bottom: 1px solid #fff;
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
 box-sizing: border-box;
}



#section02 a {
 padding-top: 60px;
}
#section02 a span {
 position: absolute;
 top: 0;
 left: 50%;
 width: 46px;
 height: 46px;
 margin-left: -23px;
 border: 1px solid #fff;
 border-radius: 100%;
 box-sizing: border-box;
}
#section02 a span::after {
 position: absolute;
 top: 50%;
 left: 50%;
 content: '';
 width: 16px;
 height: 16px;
 margin: -12px 0 0 -8px;
 border-left: 1px solid #fff;
 border-bottom: 1px solid #fff;
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
 box-sizing: border-box;
}



#section03 a {
 padding-top: 60px;
}
#section03 a span {
 position: absolute;
 top: 0;
 left: 50%;
 width: 46px;
 height: 46px;
 margin-left: -23px;
 border: 1px solid #fff;
 border-radius: 100%;
 box-sizing: border-box;
}
#section03 a span::after {
 position: absolute;
 top: 50%;
 left: 50%;
 content: '';
 width: 16px;
 height: 16px;
 margin: -12px 0 0 -8px;
 border-left: 1px solid #fff;
 border-bottom: 1px solid #fff;
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
 box-sizing: border-box;
}
#section03 a span::before {
 position: absolute;
 top: 0;
 left: 0;
 z-index: -1;
 content: '';
 width: 44px;
 height: 44px;
 box-shadow: 0 0 0 0 rgba(255,255,255,.1);
 border-radius: 100%;
 opacity: 0;
 -webkit-animation: sdb03 3s infinite;
 animation: sdb03 3s infinite;
 box-sizing: border-box;
}

@media screen and (max-width: 960px){
section{
    
}   
blockquote{
   
}
/* .demo{
   visibility: hidden;
} */
form{
   margin-left: 0;
}

h1{
   font-size: 50%;
}

}

@media screen and (max-width: 670px){
form{
   margin-left: 75px;
}

img {
margin-left: 20px;
}

body{
   margin-left: 0;
}

p{
text-align: center;
font: bold;
}

header {
width: 100vw;
height: 95vh;
/* background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('https://images.unsplash.com/photo-1445294812422-0bb9cb94c286?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80'); */
background-size: cover;
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}