* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  }
  
  input,
  textarea,
  button,
  select, img, span,
  a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
     outline: 0;
  }
  
  /*Fonts from external source*/
  @font-face {
    src: url(C:\Users\Home\AppData\Local\Temp\atom-118019-14536-1ea9572.rtm9ozuxr\league-spartan.zip\LeagueSpartan-Bold.otf);
    font-family: League Spartan;
  }
  /*Fonts from external source*/
  
  
  
  /*Navigation Bar*/
  .logo {
    position: absolute;
    margin-top: 15px;
    font-size: 16px;
    margin-left: 13px;
  }
  
  .logo h4 {
     font-family: Segoe UI, Helvetica, calibri, serif;
     margin-top: 4px;
  }
  
  #menu {
    position: absolute;
    right: 20px;
    top: 17px;
    cursor: pointer;
    display: none;
  }
  
  #close {
     position: absolute;
     top: 17px;
     right: 20px;
     cursor: pointer;
     display: none;
  }
  
  nav ul {
    display: block;
    float: right;
    overflow: hidden;
    margin: 7px 0;
    margin-right: 10px;
  }
  
  nav ul li {
    list-style-type: none;
    float: left;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 17px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: black;
  }
  
  @media screen and (max-width: 617px) {
    .logo {
      margin-top: 7px;
      position: relative;
      overflow: hidden;
      display: block;
      font-size: 14px;
    }
     .logo h1 {
        position: relative;
        margin-bottom: 10px;
     }
    nav {
      width: 100vw;
      height: 100vh;
      display: none;
    }
    nav ul {
      padding-top: 20px;
      display: block;
      width: 100%;
      margin: auto;
    }
    .nav-expanded {
      display: block;
    }
    nav ul li {
      float: none;
      border-bottom: 2px solid #D8D8D8;
    }
    nav ul li:last-child {
      border-bottom: none;
    }
    #menu {
      display: block;
    }
  }
  /*Navigation Bar*/
  
  
  
  /*Hero Image*/
  header {
    width: 100vw;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url('https://images.unsplash.com/photo-1445294812422-0bb9cb94c286?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header-text {
    width: 500px;
    text-align: center;
  }
  
  header h4 {
    margin-bottom: 10px;
    font-family: League Spartan, sans-serif;
    font-weight: 500;
    font-size: 45px;
    color: white;
  }
  
  #name {
    font-size: 40px;
    letter-spacing: 0.5px;
  }
  
  header p {
    margin-bottom: 20px;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: white;
    font-size: 18px;
  }
  
  header button {
    border: 2px solid white;
    color: white;
    font-family: 'Roboto', Segoe UI, calibri, Helvetica, serif;
    padding: 10px;
    font-size: 18px;
    width: 160px;
    border-radius: 500px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.2s ease-in-out;
  }
  
  header button:hover, button:active {
    background-color: white;
    color: black;
  }
  
  @media screen and (max-width: 676px) {
    .header-text {
      width: 95%;
      text-align: center;
    }
  }
  
  @media screen and (max-width: 601px) {
    #photography {
      font-size: 45px;
    }
    header h1 {
      font-size: 30px;
    }
    header p {
      font-size: 15px;
      width: 85%;
      display: block;
      margin: auto;
      margin-bottom: 20px;
    }
    header button {
      font-size: 16px;
      width: 140px;
    }
  }
  
  @media screen and (max-width: 460px) {
    #photography {
      font-size: 35px;
    }
    header h1 {
      font-size: 28px;
    }
  }
  /*Hero Image*/

  /* Start About Me */
.about-me {
    background-color: #fffffff;
    overflow: hidden;
    /*width: 100%;*/
  }
    /*border: 0.5em solid;*/
  .about-me >div{
    /*box-sizing: border-box;*/
  }
  .about-me .image {
    float: left;
    width: 30% ;
    /*height: 600px;*/
  
  }
  
  .about-me .image img {
    width: 100%;
    /*height: 100%;*/
  }
  
  .about-me .info {
    float: left;
    width: 65%;
    margin: 1.5% 2.5% 0 2.5%;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
  
  .about-me .info h2 {
    margin: 20px 0 20px 40px;
    color: #000000;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
  .about-me .info >p {
    margin: 0 0 10px 40px;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
  .about-me .info > p:last-of-type {
    margin-top: 10px;
    font-family: 'Roboto', Helvetica, sans-serif;
  
  }
  .about-me .info  p {
    line-height: 1.5;
    color: #888;
    font-family: 'Roboto', Helvetica, sans-serif;
  }
  .about-me .info .hobbies {
    overflow: hidden;
    margin: 20px 0 0 40px;
  }
  .about-me .info .hobbies .content {
    box-sizing: border-box;
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
  }
  .about-me .info .hobbies .content h3{
    color: #000000;
  }
  .about-me .info .hobbies .content .icon {
    float: left;
    width: 12%;
  }
  .about-me .info .hobbies .content .icon i{
    max-width: 100%;
    padding-top: 10px;
  }
  .about-me .info .hobbies .content .text {
    float: left;
    width: 84%;
    margin-left: 2%;
  }
  /* End About Me */

  .card-text {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #000000;
  }

  .aboutMe {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #000000;
  }

  .container {
    width: 80%;
    /*Orginal Width 1170 */
    margin: auto;
    /*background-color: #fff;*/
  }
  
  .containerB {
    width: 100%;
    /*Orginal Width 1170 */
    margin: auto;
    /*background-color: #fff;*/
    box-sizing: border-box;
  }
  
   .clearfix {
    clear: both;
  } 

  body {
    background-color: #f7f7f7
  }